<form autocomplete='off' class='moral-code-container'>
  <div class='hint-box'>
    acts in their own self-interesst
  </div>
  <div class='selection-container'>
  </div>
  <div class='hint-box'>
    puts others' needs before their own
  </div>
</form>
