/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */
$number-of-options: 4;
.moral-code {
  //variables
  --main-bg-color: rgb(154, 214, 212);
  --main-selection-bg-color: rgb(243, 113, 99);
  --hint-box-bg: rgb(254, 247, 195);
  --font-color: rgb(27, 155, 151);
  --dark: rgb(81, 81, 81);

  .window-content {
    background-image: none;
    background-color: var(--main-bg-color);
    font-family: 'Times New Roman', Times, serif;
  }

  .moral-code-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .hint-box {
    justify-self: center;
    align-self: center;
    background-color: var(--hint-box-bg);
    color: var(--font-color);
    border-radius: 1em;
    padding: 0.5em;
  }

  .selection-container {
    justify-self: center stretch;
    align-self: center;

    .labels {
      display: flex;
      justify-content: space-between;
      span {
        // padding: 0 0.2em;
        font-size: 20px;
      }
    }

    .options {
      background-color: var(--main-selection-bg-color);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--hint-box-bg);
      font-size: 16px;
      border-radius: 25px;
      height: 1.25em;
      line-height: 1.25em;
      display: flex;
      justify-content: space-between;
    }
    .option {
      place-self: center;

      input[type='radio'] {
        display: none;
      }

      input[type='radio'] + label {
        padding: 0.5em;
      }

      input[type='radio']:checked + label {
        text-shadow: 0 0 10px var(--main-bg-color);
        color: var(--dark);
        font-weight: bold;
      }
    }
  }
}
